:root {
    --primary-color: #484848;
    --primary-color-highlight: #233D54;
    --bs-body-bg: #FBF0F6;
    --bs-body-font-family: 'Montserrat', sans-serif;
    /*--background-image: url("./images/pic1.jpg");*/
}

body {
  background-image: url('../images/pic2.jpg');
  height: 100vh;
  background-size: cover;
}

.container {
  margin-left: 300px;
  margin-top: 100px;
}

#navbar {

}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 58px 0 0; /* Height of navbar */
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 240px;
  z-index: 600;
  /*margin-top: 68px;*/
}

@media (max-width: 991.98px) {
  .sidebar {
    width: 100%;
  }
}
.sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.startside{
    text-align: center;
    text-decoration-color: white;
    background: #5a615f;
    padding: 100px;


}

.gradient-custom-2 {
/* fallback for old browsers */
background: #fccb90;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, #343436, #6c6868, #989294, #f3eef1);

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, #343436, #6c6868, #989294, #f3eef1);
}

@media (min-width: 768px) {
.gradient-form {
height: 100vh !important;
}
}
@media (min-width: 769px) {
.gradient-custom-2 {
border-top-right-radius: .3rem;
border-bottom-right-radius: .3rem;
}
}

/*------------------------------*/
/*---- Dashboard ----*/
/*------------------------------*/

.dashboard-nowrap {
  flex-wrap: nowrap;
  margin: 0;
}
.long-bg {
  background: var(--lighter-background-color);
  display: inline-block;
	vertical-align: top;
	min-height: 100%;
}
.dashboard-section .nav-item {
  display: block;
  width: 260px;
  margin-bottom: 20px;
}
.dashboard-section .nav-item i.fa-angle-right {
  display: none;
}
.dashboard-section .nav-item .nav-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dashboard-section .nav-item a {
  font-size: 1.5rem;
  border-left: 5px solid transparent;
}
.dashboard-section .nav-item a.active,
.dashboard-section .nav-item a:hover {
  border-left: 5px solid var(--link-color);
}
.dashboard-section .nav-item a.active i.fa-angle-right,
.dashboard-section .nav-item:hover i.fa-angle-right {
  display: block;
  color: var(--link-color)!important;
}

.circle-div {
  border: 3px solid var(--link-color);
  border-radius: 50%;
  height: 39px;
  width: 45px;
  padding-top: 1px;
}

.icon-user {
  font-size: 2rem;
  color: var(--link-color);
}
.icon-circle {
  font-size: 2rem;
}
.icon-calendar {
  font-size: 2rem;
}


/*------------------------------*/
/*---------- DASHBOARD 2---------*/
/*------------------------------*/

.dashboard-header {
  display: flex;
  justify-content: space-between;
}
.dashboard-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dashboard-menu .menu-item {
  width: 100px;
  height: 160px;
  text-align: center;
  padding-top: 15px;
  margin-right: 20px;
}
.dashboard-menu .menu-item a {
  color: var(--green);
}
.dashboard-menu .menu-item:last-child {
  margin-right: 0;
}
.dashboard-menu .menu-item .title {
  display: block;
  padding-top: 10px;
  font-size: 1rem;
  font-weight: bold;
}

.dashboard-alerts {
  margin-left: 50px;
  width: 70%;
}
.alert-item {
  padding: 10px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}
.alert-item span {
  margin-left: 15px;
}
.alert-info {
  background: #fff;
  border: 1px dashed var(--blue);
  color: var(--blue);
}
.alert-light {
  background: #fff;
  border: 1px dashed var(--yellow);
  color: var(--yellow);
}
.icon-plus-square {
  font-size: 3.5rem;
}

.dashboard-content {
  margin-top: 20px;
}
.dashboard-content-title {
  font-size: 1.2rem;
  text-align: center;
  font-weight: bold;
  margin: 20px 0;
}
.dashboard-content-title span {
  color: var(--link-color);
}
.charts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-row: 30% 30%
}

.myChart1 {
  width: 20px;
}