:root {
    --primary-color: #484848;
    --primary-color-highlight: #233D54;
    --bs-body-bg: #FBF0F6;
    --bs-body-font-family: 'Montserrat', sans-serif;
    /*--background-image: url("./images/pic1.jpg");*/
}

body {
  background-image: url('../images/pic2.jpg');
  height: 100vh;
  background-size: cover;
}

.container {
  margin-left: 300px;
  margin-top: 100px;
}

.nav {
  height: 100%;
  position: fixed;
}

.startside{
    text-align: center;
    text-decoration-color: white;
    background: #5a615f;
    padding: 100px;


}

.gradient-custom-2 {
/* fallback for old browsers */
background: #fccb90;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, #343436, #6c6868, #989294, #f3eef1);

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, #343436, #6c6868, #989294, #f3eef1);
}

@media (min-width: 768px) {
.gradient-form {
height: 100vh !important;
}
}
@media (min-width: 769px) {
.gradient-custom-2 {
border-top-right-radius: .3rem;
border-bottom-right-radius: .3rem;
}
}

.charts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-row: 30% 30%
}

.myChart1 {
  width: 20px;
}