{% extends '__base__.html' %}
{% block title %}Add Book{% endblock %}
{% block content %}
    <div class="row border-bottom border-3 p-1 m-1">
        <div class="col noPadding"><h3 class="color-header text-uppercase">Dodaj nową pozycję</h3></div>
<!--        <div class="col-5 d-flex mb-2 noPadding">-->
<!--            <a href="//" class="btn btn-warning rounded-0 pt-0 pb-0 pr-4 pl-4">Lista wszystkich książek</a>-->
<!--        </div>-->
        <div class="col noPadding d-flex justify-content-end mb-2"><a
                href="//"
                class="btn btn-success rounded-0 pt-0 pb-0 pr-4 pl-4">Lista wszystkich książek do kupienia</a></div>
    </div>
    <table class="table border-bottom schedules-content">
        <tbody class="text-color-lighter">
        <tr>
            <td class="center">
                <form action="{% url 'add-book-buy' %}" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Dodaj">
                </form>
            </td>
        </tr>
        <tr>
            <td class="col-7 center">
                <p>{{message}}</p>
            </td>

        </tr>
        </tbody>
    </table>


{% endblock %}