{% extends '__base__.html' %}
{% block title %}Books to buy{% endblock %}
{% block content %}
        <div class="row border-bottom border-3 p-1 m-1">
            <div class="col noPadding"><h3 class="color-header text-uppercase">Szczegóły planu</h3></div>
            <div class="col-5 d-flex mb-2 noPadding">
                <a href="{% url 'add-book-plan' %}" class="btn btn-warning rounded-0 pt-0 pb-0 pr-4 pl-4">Dodaj książkę</a>
            </div>
            <div class="progress col d-flex justify-content-end mb-2 noPadding">
              <div class="progress-bar" role="progressbar" style="width: {{ percent }}%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">{{all_books}}%</div>
            </div>
        </div>
        <div>
            <div class="header">
                <div class="form-group row">
                                    <span class="col-sm-2 label-size col-form-label">
                                        Nazwa planu
                                    </span>
                    <div class="col-sm-10">
                        <p class="schedules-text">{{ plan.plan_name }}</p>
                    </div>
                </div>
                <div class="form-group row">
                                    <span class="col-sm-2 label-size col-form-label">
                                        Szczegóły planu
                                    </span>
                    <div class="col-sm-10">
                        <p class="schedules-text">
                            {{ plan.details }}
                        </p>
                    </div>
                </div>
        </div>
        <div class="mt-5 col-md-12">
                  KSIĄŻKI PRZECZYTANE
        </div>
        <table class="table border-bottom schedules-content">
              <thead>
              <tr class="d-flex text-color-darker">
                  <th scope="col" class="col-1">ID</th>
                  <th scope="col" class="col-2">OCENA</th>
                  <th scope="col" class="col-3">TYTUŁ</th>
                  <th scope="col" class="col-4">AUTOR</th>
                  <th scope="col" class="col-2 center">AKCJE</th>
              </tr>
              </thead>
              <tbody class="text-color-lighter">
              {% for book in read_book %}
                  <tr class="d-flex">
                      <th scope="row" class="col-1">{{ book.id }}</th>
                      <td class="col-2">
                        {{book.rating}}/10
                      </td>
                      <td class="col-3">{{ book.title }}
                      </td>
                      <td class="col-3">{{ book.author }}
                      </td>
                      <td class="col-3 d-flex align-items-center justify-content-center flex-wrap">
                          <a href="{% url 'delete-from-plan' id_plan=plan.id id_book=book.id %}"
                             class="btn btn-danger rounded-0 text-light m-1">Usuń</a>
                          <a href="{% url 'book-detail' id=book.id %}"
                             class="btn btn-info rounded-0 text-light m-1">Szczegóły</a>
                      </td>
                  </tr>
              {% endfor %}
              </tbody>
        </table>
        <div class="mt-5 col-md-12">
                  KSIĄŻKI NIEPRZECZYTANE
        </div>
        <table class="table border-bottom schedules-content">
              <thead>
              <tr class="d-flex text-color-darker">
                  <th scope="col" class="col-1">ID</th>
                  <th scope="col" class="col-2">OCENA</th>
                  <th scope="col" class="col-3">TYTUŁ</th>
                  <th scope="col" class="col-4">AUTOR</th>
                  <th scope="col" class="col-2 center">AKCJE</th>
              </tr>
              </thead>
              <tbody class="text-color-lighter">
              {% for book in rest_book %}
                  <tr class="d-flex">
                      <th scope="row" class="col-1">{{ book.id }}</th>
                      <td class="col-2">
                        {{book.rating}}/10
                      </td>
                      <td class="col-3">{{ book.title }}
                      </td>
                      <td class="col-2">{{ book.author }}
                      </td>
                      <td class="col-4 d-flex align-items-center justify-content-center flex-wrap">
                          <a href="{% url 'delete-from-plan' id_plan=plan.id id_book=book.id %}"
                             class="btn btn-danger rounded-0 text-light m-1">Usuń</a>
                          <a href="{% url 'book-detail' id=book.id %}"
                             class="btn btn-info rounded-0 text-light m-1">Szczegóły</a>
                          <a href="{% url 'move-to-read' id_plan=plan.id id_book=book.id %}"
                             class="btn btn-warning rounded-0 text-light m-1">Przeczytana</a>
                      </td>
                  </tr>
              {% endfor %}
              </tbody>
          </table>


{% endblock %}